.h1{
    text-align: center;
    color: #000;
    margin: 30px;
    font-family: FreeMono, monospace;
}

.paragrafo{
    text-align: center;
    color: black;
}

.papagaio{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    margin-left: 20%;
}

.col-md-4{
    margin-top: 15px;
}

.book{
    background-color: #20c997;
}